{% extends 'base.html' %}
{% load staticfiles %}

{% block load_css %}
{% endblock %}

<title>{% block title %}index{% endblock %}</title>

{% block content %}

	<div class="header-banner">
		<div class="banner">
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider4">
					<li>
						<div class="banner-info">
							<h3>If you think you are beaten you are. </h3>
							<h3>如果你认为你被打败了，那你就是失败者  </h3>
						</div>
					</li>
					<li>
						<div class="banner-info">
							<h3>Success begins with a fellows will .</h3>
							<h3>胜利起始于一个人的意愿</h3>
						</div>
					</li>
					<li>
						<div class="banner-info">
							<h3>life's battle doesn't always go to the stronger or faster .</h3>
							<h3>人生的战役不总是属于那些更强更快的人</h3>
						</div>
					</li>
				</ul>
			</div>
			<!-- banner Slider starts Here -->
		</div>
	</div>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
	<div class="welcome">
		 <div class="container">
			 <div class="col-md-3 welcome-left">
				 <h2>Welcome to Fitness Zone</h2>
			 </div>
			 <div class="col-md-9 welcome-right">
				 <h3>Proin ornare massa eu enim pretium efficitur.</h3>
				 <p>Etiam fermentum consectetur nulla, sit amet dapibus orci sollicitudin vel.
				 Nulla consequat turpis in molestie fermentum. In ornare, tellus non interdum ultricies, elit
				 ex lobortis ex, aliquet accumsan arcu tortor in leo. Nullam molestie elit enim. Donec ac
				 aliquam quam, ac iaculis diam. Donec finibus scelerisque erat, non convallis felis commodo ac.</p>
			 </div>
		 </div>
	</div>
	<!---->
	<div class="bride-grids">
		<div class="container">

            {% for i in contacts %}
			 <div class="col-md-4 bride-grid">
				 <div class="content-grid l-grids">
					 <figure class="effect-bubba">
						 <img src="/media/{{  i.pic }}" alt="" style="height: 400px;width: 400px"/>
						 <figcaption>
                             <h4>{{ i.title}}</h4>
                             <p>练习{{ i.title}}</p>
                         </figcaption>
					 </figure>
					 <div class="clearfix"></div>
					 <h3><a href="{{ i.id }}">{{ i.title}}</a></h3>
				 </div>
			 </div>
            {% endfor %}

            <div class="clearfix"></div>
	 	</div>
	</div>
	<!---->
    <div class="content-team">
		<div class="container">
			<h3>Our team</h3>
			<p>Dolor nunc estibulum vel libero ipsum sit.</p>
			<div class="team-left">
				<div class="col-md-3 team-top">
					<div class="view view-seventh">
						<a href="#"><img class="img-responsive" src="{% static 'images/t1.jpg' %}" alt=""></a>
						<div class="mask">
							<ul class="social-icons">

							</ul>
						</div>
						<h6>减肥瘦身</h6>
						<p>But I must explain to you how all this mistaken idea of denouncing</p>
					</div>
				</div>
				<div class="col-md-3 team-top team-in">
					<div class="view view-seventh">
						<a href="#"><img class="img-responsive" src="{% static 'images/t2.jpg' %}" alt=""></a>
						<div class="mask">
							<ul class="social-icons">
							</ul>
						</div>
						<h6>健身计划</h6>
						<p>But I must explain to you how all this mistaken idea of denouncing</p>
					</div>
				</div>
				<div class="col-md-3 team-top">
					<div class="view view-seventh">
						<a href="#"><img class="img-responsive" src="{% static 'images/t3.jpg' %}" alt=""></a>
						<div class="mask">
							<ul class="social-icons">
							</ul>
						</div>
						<h6>锻炼器材</h6>
						<p>But I must explain to you how all this mistaken idea of denouncing</p>
					</div>
				</div>
				<div class="col-md-3 team-top top-team">
					<div class="view view-seventh">
						<a href="#"><img class="img-responsive" src="{% static 'images/t4.jpg' %}" alt=""></a>
						<div class="mask">
							<ul class="social-icons">
							</ul>
						</div>
						<h6>健身饮食</h6>
						<p>But I must explain to you how all this mistaken idea of denouncing</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!---->
	<div class="get-started">
		<div class="container">
			<h4>We Ready  to Help You</h4>
			<h3>Get the Best Solution for Your Fitness</h3>
			<a href="{% url 'accounts:login' %}">加入我们</a>
	 </div>
	</div>


{% endblock %}

{% block load_js %}
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
          // Slideshow 4
          $("#slider4").responsiveSlides({
            auto: true,
            pager:true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
              $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
              $('.events').append("<li>after event fired.</li>");
            }
          });

        });
    </script>
{% endblock %}

